/* -------- App */
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------- Header */
#ContainerCardHeader {
  padding-top: 1rem;
  width: 50%;
}

#CardHeader {
  --bs-card-bg: rgb(255 255 255 / 25%);
  box-shadow: rgba(0, 0, 0, .2) .0 1px 10px;
}

h1 {
  text-align: center!important;
  letter-spacing: .25rem;
  padding-top: .5rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 900!important;
}