/* -------- Card */
#ContainerCardSearch {
    width: 50%;
}
#CardSearch {
    box-shadow: rgba(0, 0, 0, .2) .0 1px 10px;
}


/* -------- Form Search */
#InputSearch {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1rem;
    font-size: .8rem;
    font-style: italic;
    opacity: .5;
}
#ButtonSearch {
    margin-top: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight: 600!important;
    letter-spacing: .1rem;
}
#icsGlobe {
    margin-right: 10px;
    margin-left: 10px;
    height: 1.2rem;
    width: 1.2rem;
}



/* -------- Table */
#ContainerRowResult {
    margin-top: 30px;
}
.form-control {
    margin-top: -6px;
}
p[id=resNumber] {
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}
.form-control[id=resIngridients] {
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-smooth: auto!important;
    border: none!important;
}
.form-control[id=resMeasure] {
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-align: right;
    font-smooth: auto!important;
    border: none!important;
}



/* -------- Dialog */
.swal-button {
    background-color: #262626;
}
.swal-button:hover {
    background-color: #646464!important;
}