/* -------- Card */
#CardData {
    box-shadow: rgba(0, 0, 0, .2) .0 1px 10px;
}


/* -------- Table */
.rdt_TableHeadRow {
    display: none!important;
}
.rdt_TableRow {
    border-bottom-style: none!important;
    margin-bottom: -12px;
}
.rdt_TableCell[data-column-id=Number]{
    font-family: 'Poppins', sans-serif;
    margin-right: -200px;
}
.rdt_TableCell[data-column-id=Ingredient]{
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-smooth: auto!important;
}
.rdt_TableCell[data-column-id=Measure] {
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    justify-content: right!important;
    font-smooth: auto!important;
    padding-right: 30px;
}   


/* -------- Container Row */
#ContainerRowData {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#RowDataLabel {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    text-align: right;
    font-size: .8rem;
    padding-left: 65px;
}
#RowDataTotal {
    text-align: right;
    padding-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .8rem;
}
